table {
  border-collapse: collapse;
  width: 90%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 1em;
  table-layout: fixed;
}

thead > tr > td:nth-child(3),
thead > tr > td:nth-child(2) {
  width: 18%;
  visibility: hidden;
}

thead > tr > td:nth-child(1) {
  width: 50%;
  visibility: hidden;
}

th {
  padding: 2em 2em 1em 2em;
  border-bottom: 1px solid #195190;
}

th.section-label {
  color: #fcf6f5;
  background-color: #195190;
  font-size: larger;
  padding: 1em 0em 1em 0em;

}

.course-cell {
  position: relative;
}

.course-text-container {
  min-width: 12em;
  display: flex;
  height: 3.5em;
  align-items: center;
}

.text-course {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 1em;
}

td > input {
  width: 100%;
  height: 100%;
  text-align: center;
  direction: rtl;
  border: none;
  cursor: pointer;
  padding: 1em;
  box-sizing: border-box;
  color: #195190;
  background-color: #fcf6f5;
}

.course-row:hover td, .course-row:hover .course-input {
  background-color: #fff;
}

td >input:hover {
  font-weight: bold;
}

td > input:focus {
  cursor: unset;
  background-color: #fff;
  color: #111;
  font-weight: bold;
  outline: none;
  border-bottom: 1px solid #195190;
}

@media screen and (max-width: 480px) {
  .responsive-table th, td {
    display: block;
    width: 100%;
    text-align: left;
  }
  
  .responsive-table th.column-header {
    display: none;
    visibility: hidden;
  }

  .responsive-table th.section-label {
    text-align: center;
    padding: 1em 0em 1em 0em;
  }

  .responsive-table td::before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 40%;
    position: absolute;
    top: 14px;
    left: 1em;
  }

  .responsive-table tr {
    border-bottom: 1px solid #195190;
  }

  .course-text-container {
    justify-content: center;
  }

  .course-cell {
    width: 100%;
    justify-items: center;
    align-items: center;
    font-weight: bold;
  }
  
  .ects-cell, .grade-cell {
    width: 100%;
  }

  td {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    position: relative;
  }

  td > input {
    width: 100%;
    padding: 1em 0em 1em 2em;
    text-align: center;
  }

  td > input:focus {
    border: none;
  }

  .text-course {
    overflow: unset;
    white-space: unset;
    text-align: center;
  }
}
